.sidebar{
  width: 250px; 
  height: 100vh;
  padding: 10px;
  color: white;
  background-color: aqua;
  box-shadow: 1px 1px 1px rgb(181, 181, 181);
}

.body-wrapper{
    width: 100%;
}

.body-wrapper .header{
    background-color: rgb(4, 158, 158);
    color: black;
    width: 100%;
    height:55px;
    position: relative;
    padding-right: 10px;
}

.body-wrapper .header .Icon{
    position: absolute;
    left: 3px;
    top: 15px;
}

.body-wrapper .header .Icon .barsIcon{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.body-wrapper .header .Icon .barsIcon:hover{
    font-size: 27px;
    transition-duration: 600ms;
}


.body-wrapper .header .side-dropdown .rounded-dropdown, button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
}

.body-wrapper .header .side-dropdown .rounded-dropdown img{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 50%;
}

.body-wrapper .body{
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(240, 239, 239);
    box-shadow: 0px 3px 3px rgb(240, 239, 239);
}